// 设置密码
@import '../../../css/common.less';
@stepColor: #c0c4cc;
.step-box {
	width: 60%;
	margin: 66px auto;
	.el-steps.el-steps--horizontal {
		text-align: left;
		.first-step , .second-step {
			.el-step__title {
				margin-left: -25px;
			}
		}
		.third-step {
			.el-step__title {
				margin-left: -13px;
			}
		}
		.el-step__head {
			&.is-process {
				color: @stepColor;
			}
		}
		.el-step__title {
			&.is-finish {
				color: #333;
			}
			&.is-process {
				color: @stepColor;
			}
		}
	}
}
// 第一步
.firstStep-from {
	width: 43%;
	margin: 30px auto;
	.tishi-text {
		p {
			margin: 0;
			line-height: 30px;
		}
	}
}
.switch-box {
	.el-switch {
		position: relative;
		.el-switch__label {
			position: absolute;
			color: #fff;
		}
		.el-switch__label--left {
			display: block;
			right: 0;
			z-index: 1;
			margin-right: 5px;
		}
		.el-switch__label--right {
			display: none;
			margin-left: 5px;
		}
		&.is-checked {
			.el-switch__label--left {
				display: none;
			}
			.el-switch__label--right {
				display: block;
			}
		}
	}
}
.varCode {
	.el-input {
		width: 70%;
	}
}
.el-dialog__body {
	padding: 0;
	.modal-dialog {
		text-align: left;
		overflow-y: scroll;
		height: 200px;
		padding: 0 20px;
		&::-webkit-scrollbar { /*滚动条整体样式*/
					width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
					height: 1px;
			}
			&::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
					border-radius: 5px;
					border: 5px solid rgba(3, 60, 214, 0.2);
					box-shadow: 5px 0 0 #378AE8 inset;
			}
			&::-webkit-scrollbar-thumb:hover {
					box-shadow: 5px 0 0 #4A4A4A inset;
			}
	}
}
// 第二步
.secondStep {
	width: 1145px;
	margin: 0 auto;
}
.step-right {
	width: 920px;
	box-sizing:border-box;
	border: 1px solid #c0c4cc;
}
.step-module-title {
	padding: 15px 20px;
	height: 90px;
	background: #c0c4cc;

	color: #f3f3f3;

}
// 公共模块
.module-lists {
	padding: 0 10px;
	.module-list {
		padding: 20px;
		padding-bottom: 0px;
		float: left;
		width: 24%;
		list-style: none;
		.checked-status {
			display: none;
		}
		&.ckecked {
			.module-list-cont {
				border-color: @mainColor;
				position: relative;
				.checked-status {
					position: absolute;
					right: 0px;
					top: 0px;
					color: #fff;
					display: block;
					i {
						position: relative;
						z-index: 10;
						font-style: normal;
						font-size: 16px;
					}
					&:after {
						position: absolute;
						right: 0;
						top: 0;
						content: '';
						border: 15px solid transparent;
						border-right-color: @mainColor;
						border-top-color: @mainColor;
						display: inline-block;
					}
				}
			}
		}
		.module-list-cont {
			border: 1px solid #c0c4cc;
			height: 120px;
		  overflow: hidden;
			.title {
				height: 30px;
				background: #c0c4cc;
				line-height: 30px;
				text-align: center;
			}
			.module-contents {
				padding: 10px;
			}
			
		}
		
	}
}

// 第三部
.third-module {
	.third-renme {
		width: 400px;
		margin: 0 auto;
		border: 1px solid #c0c4cc;
		.third-module-title {
			height: 50px;
			width: 100%;
			text-align: left;
			display: inline-block;
			line-height: 50px;
			padding-left: 20px;
			border-bottom: 1px solid #c0c4cc;
		}
		.third-module-list {
			width: 100%;
			padding: 5px 20px;
			text-align: left;
			.input {
				width: 120px;
				height: 20px;
				font-size: 12px;
				border-radius: 5px;
				border: 1px solid #c0c4cc;
			}
		}
	}
}
